[submodule "LakhovKirill/Task4/SQLiteCpp"]
	path = LakhovKirill/Task4/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "LakhovKirill/Task5/SQLiteCpp"]
	path = LakhovKirill/Task5/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
